.carousel {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    width: 800px;
    height:400px;
    border-radius: 10px;
    overflow: hidden;
  }

  .slide-image{
      object-fit: fill;
      max-height:400px;
  }
  
